{% extends "base.html" %}

{% block title %} Tasks {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xl-10">
            <div class="row">
                <div class="col-10">
                    <h1>Tasks</h1>
                </div>
                <div class="col-2">
                    <a href="{% url 'tasks:create_task' %}">
                        <button type="button" class="btn btn-primary">Add Task</button>
                    </a>
                </div>
            </div>
            <table class="table">
                <tr>
                    <td>Name</td>
                    <td class="text-center">Data</td>
                    <td>Category</td>
                    <td>Change</td>
                    <td>Delete</td>
                    <td>More...</td>
                </tr>
                    {% with object_list.tasks as tasks %}
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task.title }}</td>
                                <td>{{ task.created }}</td>
                                <td>{{ task.category }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary">Change</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Delete</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary">Show more</button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td>
                                    You have not created any tasks yet
                                </td>
                            </tr>
                        {% endfor %}
                    {% endwith %}
            </table>
        </div>

        <aside class="col-md-4 col-xl-2">
            <h2>Categories:</h2>
            <ul>
                {% with object_list.categories as categories %}
                    {% for category in categories %}

                        {% if object_list.current_category == category.id %}
                            <li><a href="{% url 'tasks:task_list' %}" style="color: black; text-decoration: underline">{{ category.name }} - X</a></li>
                        {% else %}
                            <li><a href="{% url 'tasks:task_list_in_category' category.id %}" style="color: black;">{{ category.name }}</a></li>
                        {% endif %}

                    {% endfor %}
                {% endwith %}
            </ul>
            <a href="{% url 'tasks:create_category' %}"><button class="btn btn-primary">Add category</button></a>
        </aside>
    </div>
</div>
{% endblock %}
