{% extends "base.html" %}

{% block title %}Change task{% endblock %}

{% block content %}
    <h1>Change task</h1>
    <div>
        <form method="post">
            {% csrf_token %}

            {{ task_form.as_p }}

            <h3>Subtasks</h3>
                <table id="id_subtasks">
                    <thead>
                        <tr>
                            <th scope="col">You can add as much as you want</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in subtasks_forms.forms %}
                            <tr id="{{ form.prefix }}-row">
                                <td>
                                    {% for fld in form.hidden_fields %}{{fld}}{% endfor %}
                                    Title
                                    {{ form.title }}
                                </td>
                            </tr>
                                    {% endfor %}
                    </tbody>
                </table>


            {{ subtasks_forms.management_form }}
        <p><input type="submit" value="Save"></p>
        </form>
    </div>
<script>
        $('#id_subtasks tbody tr').formset({
        addText: 'Add new subtask',
        deleteText: 'Remove',
        prefix: '{{subtasks_forms.prefix}}'
    });
</script>
{% endblock %}